.header_container {
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 1250px;
    background-color: #FFFFFF;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 100px;
    height: auto;
}


.search_button {
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 300;
    padding: 15px 200px 15px 24px;
    border: none;
    border-radius: 30px;
    background-color: #F1F1F1;
    display: flex;
    gap: 10px;
    color: #7B7B7B;
}

.ecom_ess {
    display: flex;
    gap: 20px;
    align-items: center;
}

.ecom_button {
    display: flex;
    align-items: center;
    border: none;
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    gap: 6px;
    background-color: #FFFFFF;
}

.discount_banner {
    background-color: #000000;
    color: #ffffff;
    font-family: var(--font-primary);
    font-size: 14px;
    width: 100%;
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navigation {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.nav_item {
    font-family: var(--font-primary);
    font-size: 13px;
    font-weight: 400;
    padding: 10px 0;
    border-bottom: 2px solid #ffffff;
}

.nav_item:hover {
    border-bottom: 2px solid #000000;
    font-weight: 500;
}

.sticky {
    position: sticky;
    top: 0;
}

.nav_container {
    display: flex;
    justify-content: center;
}